@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var breadcrumbTitle = Model.Content.Value<string>("breadcrumbTitle") ?? "";

    var selectedImage1 = Model.Content.Value<IPublishedContent>("breadcrumbImage1")?.Url();
    var imageDescription1 = Model.Content.Value<string>("breadcrumbImageDescription1") ?? null;

    var selectedImage2 = Model.Content.Value<IPublishedContent>("breadcrumbImage2")?.Url();
    var imageDescription2 = Model.Content.Value<string>("breadcrumbImageDescription2") ?? null;

    // Bakgrundsfärg
    var sectionBackgroundColorLabel = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("sectionBackgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(sectionBackgroundColorLabel) && sectionBackgroundColorLabel != "none") ? $"bg-{sectionBackgroundColorLabel}" : null;

    //hämtar URL för aktiv sida
    var currentPage = Umbraco.AssignedContentItem;
    var currentPageUrl = currentPage?.Url();
}

<section class="breadcrumb-section @backgroundColorClass">
    <div class="breadcrumb-background-1">
        <img src="@selectedImage1" alt="@imageDescription1" class="breadcrumb-img-1" />
    </div>

    <div class="breadcrumb-background-2">
        <img src="@selectedImage2" alt="@imageDescription2" class="breadcrumb-img-2" />
    </div>

    <div class="container">
        <div class="content">
            <h1>@breadcrumbTitle</h1>

            <p>
                <a href="/">Home</a>
                >
               <a href="@currentPageUrl" class="headline-subtheme">@breadcrumbTitle</a>
            </p>
        </div>
    </div>
</section>