@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var slides = Model.Content.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("slides");
}

@if(slides != null)
{
    <div class="image-slider">
        <div class="image-container">
            @foreach (var img in slides!)
            {
                var selectedImage = img?.Content.Value<IPublishedContent>("selectedImage")?.Url();
                var imageDescription = img?.Content.Value<string>("imageDescription") ?? "";
                var imageUrl = img?.Content.Value<string>("imageUrl") ?? null;
                var isExternal = img!.Content.Value<bool>("isExternal");

                var employeeName = img?.Content.Value<string>("employeeName") ?? null;
                var employeeTitle = img?.Content.Value<string>("employeeTitle") ?? null;

                <div class="image-card">
                    @if (!string.IsNullOrEmpty(imageUrl))
                    {
                        if (isExternal)
                        {
                            <a href="@imageUrl" target="_blank" title="@imageDescription">
                                <img src="@selectedImage" alt="@imageDescription" />
                            </a>
                        }
                        else
                        {
                            <a href="@imageUrl" title="@imageDescription">
                                <img src="@selectedImage" alt="@imageDescription" />
                            </a>
                        }
                    }
                    else
                    {
                        <img src="@selectedImage" alt="@imageDescription" />
                    }

                    @if (!string.IsNullOrEmpty(employeeName) || !string.IsNullOrEmpty(employeeTitle))
                    {
                        <h4>@employeeName</h4>
                        <p>@employeeTitle</p>
                    }
                </div>
            }
        </div>
    </div>
}
