@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;

 @using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;


@inject IPublishedUrlProvider PublishedUrlProvider


@{ 
    var selection = Model.Ancestors().ToArray();

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var breadcrumbImage1 = settings?.Value<IPublishedContent>("breadcrumbImage1")?.Url() ?? null;
    var breadcrumbImage2 = settings?.Value<IPublishedContent>("breadcrumbImage2")?.Url() ?? null;
    // var homeDisplayName = "Home";
    // var isFirstItem = true;
 }

@if (selection?.Length > 0)
{
    <section class="breadcrumb-section ">
        <div class="breadcrumb-background-1">
            <img src="@breadcrumbImage1" alt="background image" class="breadcrumb-img-1" />
        </div>

        <div class="breadcrumb-background-2">
            <img src="@breadcrumbImage2" alt="background image" class="breadcrumb-img-2" />
        </div>

        <div class="container">
            <div class="content">
                <h1>@ViewBag.Title</h1>
                <ul>
                @foreach(var item in selection.OrderBy(x => x.Level)) {
                    <li>
                        <a href="@item.Url(PublishedUrlProvider)">@item.Name</a> 
                    </li>
                    @* isFirstItem = false; *@
                    <li>></li>
                }
                <li class="active">@Model.Name</li>
                </ul>
            </div>
        </div>
    </section>
}